/* ************************** 
/* ***** SPLASH ***** 
/* ************************** */

.splash {
    .inner {
        width: 92%;
    }
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* ****** 400 and wider ****** 
/* *************************** */
    @media only screen and (min-width: 400px) {
        .inner {
            width: 80%;
            margin-top: 60px;
        }
    }
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* ****** 450 and wider ****** 
/* *************************** */
    @media only screen and (min-width: 450px) {
        .inner h2:nth-child(1) {
            font-size: 39px;
            line-height: 37px;
        }
        .inner h2:nth-child(2) {
            font-size: 22px;
            line-height: 23px;
            margin-top: 15px;
        }
    }
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* ****** 600 and wider ****** 
/* *************************** */
    @media only screen and (min-width: 600px) {
        .inner h2:nth-child(1) {
            font-size: 47px;
            line-height: 47px;
        }
        .inner h2:nth-child(2) {
            font-size: 22px;
            line-height: 23px;
            margin-top: 15px;
        }
    }
}
