@charset "UTF-8";

/* CSS Document */


/* ***************** */


/* ***** RESET ***** */


/* ***************** */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-weight: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fff;
    color: #1e1e1e;
}


/* ****************** */


/* ***** GLOBAL ***** */


/* ****************** */

.standard {
    padding: 90px 5%;
}

select::-ms-expand {
    display: none;
}

.clearfix {
    width: 100%;
    height: 0;
    clear: both;
}

.anchor {
    display: block;
    height: 90px;
    margin-top: -90px;
    visibility: hidden;
}


/* *************** */


/* ***** NAV ***** */


/* *************** */

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .4);
}

nav .nav-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

nav .mainlogo {
    width: 245px;
    display: inline-block;
    padding: 20px 0 0 0;
}

nav ul {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 63px;
    margin-left: 40px;
}

nav ul li {
    display: inline-block;
}

nav .sb-toggle-left {
    display: none;
    cursor: pointer;
}

nav ul li a {
    display: block;
    margin: 0 20px;
    padding: 3px 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

nav ul li a:hover {
    color: #C1272C;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

nav ul li a.active {
    color: #C1272C;
    border-bottom: #C1272C solid 1px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.sb-slidebar ul {
    padding: 10px 5% 0 5%;
    list-style: none;
}

.sb-slidebar ul li a {
    display: block;
    margin: 28px 15px;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.sb-slidebar ul li a:hover {
    opacity: .5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/* ****************** */


/* ***** HEADER ***** */


/* ****************** */

header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header section {
    padding: 240px 5% 70px 5%;
}

header h1 {
    margin: 24px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100px;
    line-height: 90px;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header h2,
header h3 {
    margin: 8px 0;
    font-size: 30px;
    line-height: 32px;
    word-wrap: break-word;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header .purchase-button {
    display: inline-block;
    margin: 90px 0 30px 0;
    padding: 20px 40px 18px 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    border: 3px solid #fff;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header .purchase-button:hover {
    background: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/* ******************* */


/* ***** SUMMARY ***** */


/* ******************* */


/* ****************** */


/* ***** FOOTER ***** */


/* ****************** */

footer {
    padding: 45px 20px;
    text-align: center;
    color: #fff;
}

footer a {
    display: inline-block;
    padding: 0 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

footer a:hover {
    opacity: .5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/* ************************** */


/* ***** RESPONSIVE 800 ***** */


/* ************************** */

@media screen and (max-width: 800px) {
    nav .mainlogo {
        width: 240px;
        margin: 12px;
    }
    nav ul {
        margin-left: 15px;
    }
}


/* ************************** */


/* ***** RESPONSIVE 767 ***** */


/* ************************** */

@media screen and (max-width: 767px) {
    .summary,
    .dateloc,
    .details-container,
    .details-container .details {
        display: block;
    }
    nav .sb-toggle-left {
        display: inline-block;
        vertical-align: top;
        margin-top: 35px;
    }
    nav ul {
        display: none;
    }
    nav .mainlogo {
        width: 200px;
    }
}


/* ************************** */


/* ***** RESPONSIVE 580 ***** */


/* ************************** */

@media screen and (max-width: 580px) {
    header section {
        padding: 120px 5% 35px 5%;
    }
    header h1 {
        font-size: 60px;
        line-height: 60px;
    }
    header h2,
    header h3 {
        font-size: 25px;
        line-height: 30px;
    }
    header .purchase-button {
        margin: 20px auto 40px auto;
    }
}


html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Futura Today', sans-serif; }

/* *************************** 
/* ****** FONTS ****** 
/* *************************** */
@font-face {
  font-family: 'Futura Today';
  src: url(../fonts/FuturaTodayScreenNormal.eot);
  src: url(../fonts/FuturaTodayScreenNormal.svg#FuturaTodayScreenNormal) format("svg"), url(../fonts/FuturaTodayScreenNormal.eot?#iefix) format("embedded-opentype"), url(../fonts/FuturaTodayScreenNormal.woff) format("woff"), url(../fonts/FuturaTodayScreenNormal.ttf) format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'Futura Today Bold';
  src: url(../fonts/FuturaTodayScreenBold.eot);
  src: url(../fonts/FuturaTodayScreenBold.svg#FuturaTodayScreenBold) format("svg"), url(../fonts/FuturaTodayScreenBold.eot?#iefix) format("embedded-opentype"), url(../fonts/FuturaTodayScreenBold.woff) format("woff"), url(../fonts/FuturaTodayScreenBold.ttf) format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'Futura Today DemiBold';
  src: url(../fonts/FuturaTodayScreenDemiBold.eot);
  src: url(../fonts/FuturaTodayScreenDemiBold.svg#FuturaTodayScreenDemiBold) format("svg"), url(../fonts/FuturaTodayScreenDemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/FuturaTodayScreenDemiBold.woff) format("woff"), url(../fonts/FuturaTodayScreenDemiBold.ttf) format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'Futura Today Light';
  src: url(../fonts/FuturaTodayScreenLight.eot);
  src: url(../fonts/FuturaTodayScreenLight.svg#FuturaTodayScreenLight) format("svg"), url(../fonts/FuturaTodayScreenLight.eot?#iefix) format("embedded-opentype"), url(../fonts/FuturaTodayScreenLight.woff) format("woff"), url(../fonts/FuturaTodayScreenLight.ttf) format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'Material Icons';
  src: url(../fonts/material-design-icons/Material-Design-Icons.eot);
  src: url(../fonts/material-design-icons/Material-Design-Icons.svg#Material-Design-Icons) format("svg"), url(../fonts/material-design-icons/Material-Design-Icons.eot?#iefix) format("embedded-opentype"), url(../fonts/material-design-icons/Material-Design-Icons.woff) format("woff"), url(../fonts/material-design-icons/Material-Design-Icons.ttf) format("truetype");
  font-style: normal; }
/* ********************************** 
/* ********  TOYSTORY CLASS  ******** 
/* ********************************** */
.toystory {
  width: 100%;
  margin: 0 auto;
  background-color: #AB723D;
  color: #fff;
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 601 and wider ****** 
/* *************************** */
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 769 and wider ****** 
/* *************************** */ }
  .toystory .wrapper {
    width: 100%;
    position: relative;
    margin: auto; }
    .toystory .wrapper .mainart {
      margin: 0 auto;
      position: relative;
      width: 100%;
      background-image: url("../img/output_600/toy-story.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat; }
    .toystory .wrapper .intro:before {
      content: "She's got a friend in you! Come celebrate Olivia's second birthday to infinity and beyond."; }
    .toystory .wrapper ul {
      color: #ffd900; }
    .toystory .wrapper .mailbtn {
      background: #ffd900; }
  @media only screen and (min-width: 601px) {
    .toystory .wrapper {
      width: 100%;
      position: relative;
      margin: auto; }
      .toystory .wrapper .mainart {
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-image: url("../img/output_768/toy-story.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat; } }
  @media only screen and (min-width: 769px) {
    .toystory .wrapper {
      width: 100%;
      position: relative;
      margin: 0 auto;
      max-width: 1000px; }
      .toystory .wrapper .mainart {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-image: url("../img/output_1000/toy-story.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat; } }

/* ********************************** 
/* ********  MONSTERS INC CLASS  ******** 
/* ********************************** */
.monstersinc {
  width: 100%;
  margin: 0 auto;
  background-color: #04293C;
  color: #fff;
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 601 and wider ****** 
/* *************************** */
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 769 and wider ****** 
/* *************************** */ }
  .monstersinc .wrapper {
    width: 100%;
    position: relative;
    margin: auto; }
    .monstersinc .wrapper .mainart {
      margin: 0 auto;
      position: relative;
      width: 100%;
      background-image: url("../img/output_600/monsters-inc.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    .monstersinc .wrapper .intro:before {
      content: "Boo! Help celebrate the second birthday of our little monster!"; }
    .monstersinc .wrapper ul {
      color: #b5ca31; }
    .monstersinc .wrapper .mailbtn {
      background: #b5ca31; }
  @media only screen and (min-width: 601px) {
    .monstersinc .wrapper {
      width: 100%;
      position: relative;
      margin: auto; }
      .monstersinc .wrapper .mainart {
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-image: url("../img/output_768/monsters-inc.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%; } }
  @media only screen and (min-width: 769px) {
    .monstersinc .wrapper {
      width: 100%;
      position: relative;
      margin: 0 auto;
      max-width: 1000px; }
      .monstersinc .wrapper .mainart {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-image: url("../img/output_1000/monsters-inc.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%; } }

/* ********************************** 
/* ********  INSIDE OUT CLASS  ******** 
/* ********************************** */
.insideout {
  width: 100%;
  margin: 0 auto;
  background-color: #003867;
  color: #fff;
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 601 and wider ****** 
/* *************************** */
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 769 and wider ****** 
/* *************************** */ }
  .insideout .wrapper {
    width: 100%;
    position: relative; }
    .insideout .wrapper .mainart {
      margin: 0 auto;
      position: relative;
      width: 100%;
      background-image: url("../img/output_600/inside-out.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    .insideout .wrapper .intro:before {
      content: "Come experience a range of emotions at Olivia's second birthday party!"; }
    .insideout .wrapper ul {
      color: #feba3f; }
    .insideout .wrapper .mailbtn {
      background: #feba3f; }
  @media only screen and (min-width: 601px) {
    .insideout .wrapper {
      width: 100%;
      position: relative; }
      .insideout .wrapper .mainart {
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-image: url("../img/output_768/inside-out.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%; } }
  @media only screen and (min-width: 769px) {
    .insideout .wrapper {
      width: 100%;
      position: relative;
      margin: 0 auto;
      max-width: 1000px; }
      .insideout .wrapper .mainart {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-image: url("../img/output_1000/inside-out.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%; } }

/* ********************************** 
/* ********  FINDING DORY CLASS  ******** 
/* ********************************** */
.findingdory {
  width: 100%;
  margin: 0 auto;
  background-color: #01BAF0;
  color: #fff;
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 601 and wider ****** 
/* *************************** */
    /* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 769 and wider ****** 
/* *************************** */ }
  .findingdory .wrapper {
    width: 100%;
    position: relative;
    margin: auto; }
    .findingdory .wrapper .mainart {
      margin: 0 auto;
      position: relative;
      width: 100%;
      background-image: url("../img/output_600/finding-dory.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    .findingdory .wrapper .intro:before {
      content: "Don't forget to just keep swimming to Olivia's second birthday party!"; }
    .findingdory .wrapper ul {
      color: #ffd900; }
    .findingdory .wrapper .mailbtn {
      background: #ffd900; }
  @media only screen and (min-width: 601px) {
    .findingdory .mainart_wrapper {
      width: 100%;
      position: relative; }
      .findingdory .mainart_wrapper .mainart {
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-image: url("../img/output_768/finding-dory.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%; } }
  @media only screen and (min-width: 769px) {
    .findingdory .wrapper {
      width: 100%;
      position: relative;
      margin: 0 auto;
      max-width: 1000px; }
      .findingdory .wrapper .mainart {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-image: url("../img/output_1000/finding-dory.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%; } }

/* *************************** 
/* ********** OVERALL STYLES ********** 
/* *************************** */
.button {
  text-align: center;
  border-bottom: #aaa 1px solid;
  padding-bottom: 40px; }

.lamp {
  padding: 60px 35px;
  width: 80%;
  margin: 31px auto;
  text-align: center;
  max-width: 500px; }
  .lamp .lampimg {
    height: 140px;
    float: left;
    padding: 0 20px 0 0; }
  .lamp p {
    float: none;
    display: block;
    width: auto;
    overflow: hidden;
    padding: 10px 0;
    font-size: 18px;
    text-align: left;
    font-family: 'Futura Today Light', sans-serif; }
  .lamp strong {
    font-family: 'Futura Today DemiBold', sans-serif; }

.ideas {
  margin: 30px auto;
  text-align: center; }
  .ideas img {
    width: 90%;
    max-width: 531px; }

.circleimg {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }

.back {
  font-size: 22px;
  padding: 40px 0;
  display: block; }

/* *************************** 
/* ********** FORM ********** 
/* *************************** */
.rsvp {
  margin: 40px 0px 30px 0;
  clear: both; }

.cognito {
  background: transparent !important;
  text-align: center !important;
  color: white !important; }

.cognito form {
  margin: 0 auto !important; }

.cognito .c-field,
.cognito .c-section {
  width: 100% !important; }

.cognito .c-forms-form .c-helptext {
  color: #fff !important; }

.cognito .c-editor INPUT[type=text],
.cognito .c-editor INPUT[type=password],
.cognito .c-editor textarea,
.cognito .c-editor select {
  height: 40px !important; }

.cognito .c-action {
  float: none; }

.cognito .c-forms-form button {
  padding: .5em 1.25em;
  width: 280px;
  margin-top: 30px;
  font-family: "Futura Today DemiBold", sans-serif !important;
  font-size: 18px !important; }

.cognito .c-forms-form .c-forms-not-available-message,
.cognito .c-forms-form .c-page-numbering,
.cognito .c-forms-form .c-forms-confirmation-message,
.cognito .c-forms-form #c-save-resume-content,
.cognito .c-forms-form .c-progress-section,
.cognito .c-forms-form .c-forms-payment-order-summary .detail {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8125em;
  color: #fff !important; }

.cognito #c-submit-button {
  position: relative;
  padding: 20px 0; }

form {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 500px; }

input {
  font-size: 18px;
  padding: 12px 16px;
  margin-bottom: 11px;
  width: 90%;
  max-width: 500px; }

input[type=submit] {
  border: 0 none;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0; }

.mailbtn {
  color: #000;
  padding: 16px 13px;
  width: 200px;
  margin-top: 10px; }

.mailbtn:hover {
  background: red; }

/* *************************** 
/* ********** TEXT ********** 
/* *************************** */
.text {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  overflow: auto; }



.intro {
  font-size: 32px;
  text-align: center;
  padding: 0 30px;
  margin: 33px 0 55px 0px;
  line-height: 36px; }



h3 {
  font-size: 21px;
  font-family: 'Futura Today DemiBold', sans-serif;
  margin-bottom: 5px;
  text-align: center; }

.footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 40px 20px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 3px; }
  .footer a {
    color: gold; }

/* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 601 and wider ****** 
/* *************************** */
@media only screen and (min-width: 601px) {
  .lamp p {
    font-size: 20px; } }
/* *************************** 
/* ****** Media Queries ****** 
/* *************************** 
/* *************************** 
/* ****** 769 and wider ****** 
/* *************************** */
@media only screen and (min-width: 769px) {
  .intro {
    padding: 0 50px; }

  .lamp p {
    font-size: 23px; } }
