@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800,900');
.home-image .fog-background {
    display: block;
    z-index: 9;
    width: 210%;
    height: auto;
    position: relative;
    overflow: hidden;
    -webkit-animation: fog 14s ease 0s infinite alternate;
    animation: fog 14s ease 0s infinite alternate;
}
@-webkit-keyframes fog {
    0% {
        width: 210%;
    }
    50% {
        width: 300%;
    }
    100% {
        width: 370%;
    }
}
@keyframes fog {
    0% {
        width: 210%;
    }
    50% {
        width: 300%;
    }
    100% {
        width: 370%;
    }
}
