/* *********************** 
/* ***** MAIN COLORS ***** 
/* *********************** */

$victoria: #eaeaea;
$wellington: #c0d6df;
$phoenix: #e8dab2;
$sanfrancisco: #dd6e42;
$sydney: #4f6d7a;

$black: #000;
$white: #fff;
    

/* **************************** 
/* ***** MAIN COLOR MIXES ***** 
/* **************************** */

$victoriaLight: mix($white, $victoria, 30%);
$victoriaDark: mix($wellington, $victoria, 30%);

$wellingtonLight: mix($victoria, $wellington, 30%);
$wellingtonDark: mix($sydney, $wellington, 30%);

$phoenixLight: mix($victoria, $phoenix, 30%);
$phoenixDark: mix($sanfrancisco, $phoenix, 30%);

$sanfranciscoLight: mix($phoenix, $sanfrancisco, 30%);
$sanfranciscoDark: mix($sydney, $sanfrancisco, 30%);

$sydneyLight: mix($wellington, $sydney, 30%);
$sydneyDark: mix($black, $sydney, 30%);


/* ***************************** 
/* ***** OTHER COLOR MIXES ***** 
/* ***************************** */

$text: $sydney;
$textDark: $sydneyDark;